<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Budget1._1.Properties.Settings.budget_dbConnectionString"
            connectionString="Data Source=PABLOSOUZAA874;Initial Catalog=budget_db;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>